body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: antiquewhite;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%
}

:root {
  color: antiquewhite;
  font-size: 1.2rem;
  }

.bg-parent {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  /* justify-content: top; */
}

/* pseudo elements*/
.bg-parent::before {
  content: "";
  background-image: url(../public/background.jpg);
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9
  ;
}

h1 {
  font-size: 3.6rem;
  line-height: 0.9;
}

h2 {
  font-size: 1.6rem;
  color: antiquewhite;
}

.container {
  height: 100vh;
  color: antiquewhite;
}

.welcome {
  text-align: left;
  padding-bottom: 10px;
}

.contact-text {
  color: antiquewhite;
}

.story {
  display: flex;
  align-items: flex-start;
  margin-top: 10em;
}

#about-us {
  position: relative;
  padding: 2em;
}

#contact-us {
  position: relative;
  padding: 2em;
}

img {
  position: relative;
}

.total h2 {
  display: flex;
  color: antiquewhite;
}

.about p {
  color: antiquewhite;
}

div.card {
  background: rgba(80, 80, 80, 0.25);
  color: antiquewhite;
}

div.modal-header {
  background: antiquewhite;
}

div.modal-content {
  background: rgba(80, 80, 80, 0.75)
}

a.navbarText,
button.navbarText,
button.btn,
.modalText {
  color: antiquewhite;
}

.login-page {
  position: relative;
  width: 300px;
  top: 50px;
  left: 125px;
}

.orderHistory {
  color: antiquewhite;
}

label {
  color: antiquewhite;
}

input #formBasicEmail,
input #formBasicPassword {
  width: 100%;
}

#splashbox {
  height: 100%;
  margin-top: 0px;
  padding-top: 0px;
  position: absolute;
  left:0px;
  text-align: center;
  background-color: rgba(157, 151, 142, 0.8);
  justify-content: space-evenly
}

#splashbox h2 {
  font-size: 1.4rem;
}
#logobox {
  position: relative;
  top: 160px;
  left: 200px;
  height: 200px;

  background-color: rgba(211, 211, 211, 0.908);
  background-blend-mode: lighten;
  opacity: 0.2;
  padding: 2em;
}

#heroimage {
  position: relative;
  top: 200px;
  left :250px;
}